PATH=/usr/bin:$PATH
# Media-Stack, non-root docker Socket for dind, if you are using rootful docker
# DOCKER_HOST=/var/run/docker.sock
DOCKER_HOST=unix:///run/user/1000/docker.sock
# ownCloud
OWNCLOUD_VERSION=10.15
OWNCLOUD_DOMAIN=localhost:80
OWNCLOUD_TRUSTED_DOMAINS=localhost
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
HTTP_PORT=80
